* {
  background-color: #f3f0d7;
}

.App {
  text-align: center;
}

.content-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content-useState {
  padding: 0 0 4rem 0;
  border-bottom: 2px solid #795548;
}

.content-useReducer {
  padding: 2rem 0 4rem 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-input {
  padding-right: 2rem;
}

.input {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #009688;
}

.button {
  padding: 10px;
  border-radius: 8px;
  color: white;
}

.button-cancel {
  background-color: #277bc0;
  border: 2px solid #277bc0;
}

.button-delete {
  background-color: #eb1d36;
  border: 2px solid #eb1d36;
}

.button-confirm {
  background-color: #009688;
  border: 2px solid #009688;
}

.content-btn-delete {
  padding-right: 1.5rem;
}

.content-loading {
  display: flex;
  justify-content: center;
  align-content: center;
}

.loading-- {
  display: flex;
  color: #009688;
  font-size: 2rem;
  width: 2rem;
  height: 3rem;
}
